<!DOCTYPE html>
<html>
    <head>
      <title>北科大选课系统第三方客户端</title>
      <meta charset="UTF-8"/>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <script type="text/javascript">
            Date.prototype.Format = function (fmt) { //author: meizz 
                var o = {
                    "M+": this.getMonth() + 1, //月份 
                    "d+": this.getDate(), //日 
                    "h+": this.getHours(), //小时 
                    "m+": this.getMinutes(), //分 
                    "s+": this.getSeconds(), //秒 
                    "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
                    "S": this.getMilliseconds() //毫秒 
                };
                if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
                for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                return fmt;
            }
      </script>
    </head>
    <body>

    <h2>北科大选课系统第三方客户端</h2>
    <h3>作者：叁公子</h3>
    <h3>软件说明：本软件为开源软件，仅供学习参考</h3>
    <h3>源码地址：<a href="https://github.com/nladuo/ustb_choose_course_system">https://github.com/nladuo/ustb_choose_course_system</a></h3>
    <h3>下载列表：</h3>
    <table border="1">
    <tr>
        <td>类别</td>
        <td>当前版本</td>
        <td>下载地址</td>
        <td>说明</td>
    </tr>
    <% for(var i=0; i<app_results.length; i++) {%>
    <tr>
        <td><%=app_results[i].type_name %></td>
        <td><%=app_results[i].version.toFixed(2) %></td>
        <td><a href="/download?id=<%=app_results[i].id %>"><%=app_results[i].app_name %></a></td>
        <td><%=app_results[i].note %></td>
    </tr>
    <% } %>       
    </table>

    <div id="comments">
      <form name="commentform" onsubmit="return isEmpty();" action="/add"  method="post" >
        <h3>对软件不满意？吐个槽：</h3>
        <p>
          <label for="comment">吐槽内容</label>
          <textarea name="message" id="comment" placeholder="您可以在这里输入您的吐槽....." ></textarea>
        </p>
        <p>
          <label for="name">你的昵称</label>
          <textarea name="name" id="name" placeholder="输入您的名字" ></textarea>
        </p>
        <p><input type="submit" value="发表吐槽"  /></p>
      </form>
      <section id="commentlist">
        <h3>吐槽列表：</h3>

        <% if ( message_results.length == 0) { %>
            暂无吐糟
        <% } else { %>    
            <% for(var i = message_results.length - 1; i >= 0; i--) {%>
                <article>
                  <header>
                    <p><%= message_results[i].nickname %></p> <b>on</b> <time datetime="2015-08-11T23:35:20+01:00"><%= new Date(message_results[i].time).Format("yyyy-MM-dd hh:mm:ss") %></time>
                  </header>
                  <p><%= message_results[i].content %></p>
                </article>
            <% } %>
        <% } %>
      </section>
    </div>

    <div id="footer">
        <ul class="popular-posts">
      <p align="center">
        Copyright&copy;2015&emsp;by 叁公子 &emsp;&emsp;Email:kalen25115@gmail.com<br>
        Blog:<a href="http://blog.kalen25115.cn/">http://blog.kalen25115.cn/</a>
      </p>
        </ul>
    </div>

    <script>
        function isEmpty(){
            if (document.commentform.message.value.trim() == "") {
                alert("评论信息不得为空");
                document.commentform.message.focus();
                return false;
            }
            
            if (document.commentform.name.value.trim() == "") {
                alert("请输入您的昵称!");
                document.commentform.name.focus();
                return false;
            }
            return true;
        }
        function  trim(str)
        {
            for(var  i  =  0  ;  i<str.length  &&  str.charAt(i)=="  "  ;  i++  )  ;
            for(var  j  =str.length;  j>0  &&  str.charAt(j-1)=="  "  ;  j--)  ;
                if(i>j)  return  "";  
            return  str.substring(i,j);  
        }
    </script>

  </body>
</html>
